.page-header {
    padding-left: 4%;
}

h1 {
    color: #00D043;
}

body {
    padding: 3px;
}

.search-form {
    display: inline-block;
    width: 100%;
}

.form-elem {
    float: left;
    margin-top: 5px;
}

.form-elem-left {
    margin-left: 5%;
}

.form-elem-right {
    margin-left: 10px;
}

#search-destination {
    display: inline-block;
}

#accordion {
    display: none;
    margin-top: 10px;
    max-width: 800px;
}

.alert-danger {
    clear: both;
    float: left;
    display: none;
    margin-left: 5%;
}

.make-reservation {
    background-color: #00D043;
    color: #ffffff;
}