.page-header {
    padding-left: 4%;
}

body {
    padding: 3px;
}

.search-form {
    display: inline-block;
    width: 100%;
}

.form-elem {
    float: left;
}

.form-elem-left {
    margin-left: 5%;
}

.form-elem-right {
    margin-left: 10px;
}

#search-destination {
    display: inline-block;
}

#accordion {
    display: none;
    margin-top: 10px;
}

.error-message {
    color: red;
}

.alert-danger {
    clear: both;
    float: left;
    display: none;
    margin-left: 5%;
}